body
{
  background-color: #e4e2e2;
}
.header
{
  display: flex;
  height: 100px;
  background-color: #135351;
}
.logo
{
  display: flex;
  flex-grow:3;
  align-items: center;
  justify-content: center;
  border-right: 1px solid white;
}
.logo img
{
  height: 75px;
  width: 150px;
}
.navigation
{
  display: flex;
  flex-grow: 5;
  align-items: center;
}
nav
{
  display: flex;
  max-width: 1000px;
  background-color: #135351;
  font-family: helvetica;
}
nav a
{

  color: white;
  padding: 13px 15px;
  text-decoration: none;
}
.container
{
  max-width: 1500px;
  height: auto;
  margin: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.welcome
{
  padding: 40px;
  height: 200px;
  font-family: Helvetica;
  text-align: center;
}
.welcome h1
{
}
.image
{
  height: 700px;
  padding: 0px;
}
.image img
{
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.service
{
  height:350px;
  background-color: #135351;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.serviceimg
{
  float:left;
  width: 1000px;
  overflow: hidden;
  position: absolute;
}
.serviceimg img
{
  width: 100%;;
  height:350px;
  -webkit-clip-path: polygon(0 1%, 100% 0, 59% 100%, 0% 100%);
clip-path: polygon(0 1%, 100% 0, 59% 100%, 0% 100%);
}
.serviceinfo
{
  float:right;
  padding-right: 20px;
  padding-top: 50px;
  text-align: center;
  font-family: helvetica;
  color: white;
}
.address
{
  display: flex;
  flex-grow: 1;
}
.map
{
  display: flex;
  flex-grow: 1;
}

.beliefs
{
  text-align: center;
}
.beliefs h1
{
  color:  #135351;
  padding-top: 25px;
  padding-bottom: 15px;
}
.beliefs h2
{
  padding:20px;
}
.beliefs p
{

}
footer
{
  display: flex;
  justify-content: center;
}
